body {
    font-family: 'Montserrat';
    background-color: lightgreen;
    margin: auto;
    max-width: 600px;
}

.image-centered {
    width: 250px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.big-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

.small-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    border-bottom: 5px double #0D98BA;
}

.text {
    text-align: justify;
    font-size: 20px;
}

.quote {
    margin: 20px 15px;
}

.cite-text {
    text-align: justify;
    font-size: 18px;
}